*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
server/__pycache__/*
*.pyc
server/task
server/log
server/database.db
server/static/googledata/*
server/static/img/*